<app-header [title]="title"></app-header>
<main>
  <section>
    <app-city-form></app-city-form>
  </section>
  <section>
    <p>Result</p>
    <p>
      You will need an adapter for your plug in Austria. 
      You can buy one from 
      <a href="https://www.amazon.com/s?k=type+c+adapter&i=electronics&ref=nb_sb_noss_2">Amazon</a>
    </p>
    <ul>
        <li>
          Austria
        </li>
        <li>
          230V
        </li>
        <li>
          50Hz
        </li>
        <li>
          C/F
        </li>
    </ul>
  </section>
  <section>
      <table>
        <thead>
          <tr>
            <th>
              Country
            </th>
            <th>
              Voltage
            </th>
            <th>
              Frequency(Hz)
            </th>
            <th>
              Plug Type
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>
                Austria
              </td>
              <td>
                230V
              </td>
              <td>
                50Hz
              </td>
              <td>
                C/F
              </td>
          </tr>
        </tbody>
      </table>
  </section>
</main>
<app-footer></app-footer>

<router-outlet></router-outlet>
