<form [formGroup]="cityForm" onSubmit="onSubmit()">
  <label>Search city</label>
  <input 
  	type="text"
  	placeholder="City or City, Country" 
  	formControlName="city"/>
  <button 
    mat-flat-button
    color="accent"
  	type="button" 
  	[disabled]="!cityForm.valid || isChecking"
  	(click)="onSubmit()">
  	{{isChecking ? "Checking..." : "Check"}}
  </button>
</form>
<div>
	<div *ngIf="city.invalid && city.dirty">
		<p *ngIf="city.errors.pattern">
			Query might contain odd characters
			<span style="background:red; white-space: pre">{{ city.value }}</span>
		</p>
		<p *ngIf="city.errors.maxLength">
			Query is too long
		</p>
	</div>
</div>