// Default material colors
// https://material-ui.com/style/color/

$screen-lg: 1280px;
$screen-md: 960px;
$screen-sm: 600px;

$indigo-500: #3F51B5; 
$pink-500: #e91e63;
$pink-300: #f06292;
$red-500: #f44336;
$green-500: #4caf50;
$white: #fafafa;